<a href="https://colab.research.google.com/github/carissafarry/study-ml2/blob/main/Project%202%20Diabetes%20Prediction%20using%20Machine%20Learning%20with%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing the Dependencies

In [71]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

#Data Collection and Analysis
PIMA  Diabetes Dataset

In [72]:
# loading the diabetes dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv('/content/drive/MyDrive/Online Courses/Colab Notebooks/02 ML 2/diabetes.csv')

In [73]:
pd.read_csv?

In [74]:
#printing the first 5 rows of the dataset
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [75]:
# number of rows and Columns in this dataset
diabetes_dataset.shape

(768, 9)

In [76]:
# getting the statistical measures of the data
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [77]:
# takes how many examples are there for one label and for zero label in Outcome column
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 : Non-Diabetic

1 : Diabetic

In [78]:
# calculate the outcome values for all the data set in mean values
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [79]:
# separating the data and labels
X = diabetes_dataset.drop(columns='Outcome', axis=1)   # dropping column (axis=1)
Y = diabetes_dataset['Outcome']

In [80]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

#Data Standardization

In [81]:
scaler = StandardScaler()

In [82]:
# fitting all inconsistent data with our standard scaler function
scaler.fit(X)

# based on our standardization, transform all data to a common range
standardized_data = scaler.transform(X)

In [83]:
# or just using fit_transform function, give the same values
standardized_data = scaler.fit_transform(X)

In [84]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [85]:
X = standardized_data             # represent the data
Y = diabetes_dataset['Outcome']   # represent the model

In [86]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

#Train Test Split

In [87]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [88]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

#Training the Model

In [89]:
# using SVM Classifier
classifier = svm.SVC(kernel='linear')

In [90]:
# training the support vector Machine Classifier, and stored in classifier model
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

#Model Evaluation
Accuracy Score

In [97]:
# predict all labels for X_train
X_train_prediction = classifier.predict(X_train)

# the label from the result of predicted model, compared to produce the 
# accuracy score on the training data
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [98]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

*Accuracy score above 75 is good

In [100]:
# predict all labels for X_test
X_test_prediction = classifier.predict(X_test)

# the label from the result of predicted model, compared to produce the 
# accuracy score on the test data
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [101]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7727272727272727

#Make a Predictive System

In [106]:
# input_data = (1,126,56,29,152,28.7,0.801,21)
input_data = (5,166,72,19,175,25.8,0.587,51)

# change input_data to numpy array
input_data_as_np_arr = np.asarray(input_data)

# Reshape the array as predicting for one instance
# the original data of dataset is 768 rows/values, and to make predictive system, we are just using 1 value
# if we don't reshape the array, the model will expect 768 values
# will be more easy to do the reshaping in a numpy array, using numpy library

# not giving 768 examples, but just predict the label for only one instance
input_data_reshaped = input_data_as_np_arr.reshape(1,-1)

# standardize the input_data (don't need to fit it again, just transform it based on the existing scalar)
std_data = scaler.transform(input_data_reshaped)
print(std_data)

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [107]:
# make a prediction
prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[1]
The person is diabetic

#Make predictive system as function

In [115]:
def predict_data(input_data):
  # change input_data to numpy array
  input_data_as_np_arr = np.asarray(input_data)

  # Reshape the array as predicting for one instance
  # the original data of dataset is 768 rows/values, and to make predictive system, we are just using 1 value
  # if we don't reshape the array, the model will expect 768 values
  # will be more easy to do the reshaping in a numpy array, using numpy library

  # not giving 768 examples, but just predict the label for only one instance
  input_data_reshaped = input_data_as_np_arr.reshape(1,-1)

  # standardize the input_data (don't need to fit it again, just transform it based on the existing scalar)
  std_data = scaler.transform(input_data_reshaped)
  print(std_data)
  # make a prediction
  prediction = classifier.predict(std_data)
  print(prediction)

  if (prediction[0] == 0):
    print('The person is not diabetic')
  else:
    print('The person is diabetic')

In [116]:
# input_data = (1,126,56,29,152,28.7,0.801,21)    # not diabetic
input_data = (5,166,72,19,175,25.8,0.587,51)    # diabetic
  
predict_data(input_data)

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"